{% extends "main.html" %}


{% block content %}

  <style>
    .home-container{
      display:grid;
      grid-template-columns:1fr 3fr;
    }
  </style>
  
   
    {# this is for the grid #}
    <div class="home-container">

      <div>
        <h3>Browse Topics</h3>
        <hr>
         {# for all filter#}
          <div>
              <a href="{% url 'base:home' %}">All</a>
          </div>

        {# for looping the data#}
        {% for data in topic %}
           <div>
              <a href="{% url 'base:home' %}?q={{data.name}}">{{data.name}}</a>
           </div>
        
        {% endfor %}
      </div>


      <div>
          <h5>{{room_count}} rooms are available</h5>
          <a href="{% url "base:create-room" %}">Create a room</a>
          <div>
            <ul>
              {% for data in room %}
                {% if request.user == data.host %}
                  <a href="{% url "base:update-room" data.id %}">Edit</a>
                  <a href="{% url "base:delete-room" data.id %}">Delete</a>
                {% endif %}
                
                <span>@{{data.host.username}}</span>
                <p><a href="{% url "base:room" data.id %}">{{data.name}}</a></p>
                <small>{{data.topic.name}}</small>
                <hr>
              {% endfor %}
            </ul>
          </div>

      </div>
    </div>

    

{% endblock content %}