{% extends "main.html" %}

{% block content %}

 <h1>Room template.</h1>
 <h2>{{ room.name }}</h2>
 <p>{{room.desc}}</p>
 
<div class="comment-wrapper">
    <h3>Conversation:</h3>
    <hr>


    {% for rdata in message  %}
       <div>
          <small>@{{rdata.user}}     {{rdata.created| timesince}} ago</small>
          <p>{{rdata.body}}</p>
          <hr>
       </div>
    {% endfor %}
</div>

{% if request.user.authenticated %}
  {# user to create comment #}
    <div class="comment-form">
        <form method="POST" action="">
            <input type="text" name="body" placeholder="write your message here ...">
        </form>
    </div>
{% endif %}

{% endblock content %}